<div class="cardholder">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Read the Koi Life</h5>
            <p class="card-text">Big messages in for big people</p>
            <div class="container">
                <div class="center">
                    <a href="#" class="buy">Buy ></a>
                    <a href="#" class="learnmore">Learn More ></a>
                </div>
            </div>
        </div>
        <img src="http://placekitten.com/1080/920" class="card-img-top homeimage" alt="...">
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">The Kemba files</h5>
            <p class="card-text">All dog, no bite</p>
            <div class="container">
                <div class="center">
                    <a href="#" class="buy">Buy ></a>
                    <a href="#" class="learnmore">Learn More ></a>
                </div>
            </div>
        </div>
        <img src="http://placekitten.com/1080/920" class="card-img-top homeimage" alt="...">
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Koi Life Media</h5>
            <p class="card-text">Visual storytelling with a twist</p>
            <div class="container">
                <div class="center">
                    <a href="#" class="buy">Buy ></a>
                    <a href="#" class="learnmore">Learn More ></a>
                </div>
            </div>
        </div>
        <img src="http://placekitten.com/1080/920" class="card-img-top homeimage" alt="...">
    </div>
</div>


<router-outlet></router-outlet>